# DVC
.dvc/
.dvcignore
.cache/

# MLflow
mlruns/
mlflow.db

# Models
models/*.pkl
models/*.joblib
!models/.gitkeep

# Reports
reports/*.csv
reports/*.png
!reports/.gitkeep

# Data
data/raw/*.csv
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# API logs
*.log